{% extends 'base.html.twig' %}

{% block title %}Lista de Imágenes{% endblock %}

{% block body %}
    </div>
    <hr class="divider">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">File</th>
                <th scope="col">Views</th>
                <th scope="col">Likes</th>
                <th scope="col">Downloads</th>
                <th scope="col">Category</th>
            </tr>
            </thead>
            <tbody>
            {% for image in images %}
                <tr>
                    <td>{{ image.id }}</td>
                    <td>
                        <img src="{{ asset('images/index/gallery/' ~ image.file) }}" alt="Descripción de la imagen" style="max-width: 150px;">
                    </td>
                    <td>{{ image.numViews }}</td>
                    <td>{{ image.numLikes }}</td>
                    <td>{{ image.numDownloads }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No se encontraron imágenes.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
